.popupMainContainer{
    background-color: #F4F4F4;
    padding-right: 5px;
    padding-left: 5px;
}

.popupButtonContainer{
    display: flex;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.popupButton{
    color: rgb(240,245,215)!important;
    background-color: rgb(41, 118, 74)!important;
    border-color: rgb(240,245,215)!important;
}

.popupButtonCancel {
    color: rgb(240,245,215)!important;
    background-color: red!important;
    border-color: rgb(240,245,215)!important;
}

#contactButton, #contactButton:hover{
    color: rgb(240,245,215)!important;
    background-color: rgb(41, 118, 74)!important;
    border-color: rgb(240,245,215)!important;
}

.popupInputContainer{
    width: 50%;
    margin: 0 auto;
}

.popupHeader{
    width: 70%;
    margin: 0 auto;
}

.textFieldPopup {
    width: 80%;
    margin: 0 auto;
}

.modal-dialog {
    display: flex !important;
    width: 50% !important;
    pointer-events: none;
    justify-content: center;
    align-items: center;
}
.modal{
    display:flex !important;
}

/*https://bbbootstrap.com/snippets/bootstrap-rate-your-experience-template-star-ratings-30972576*/
.rate{
    border-bottom-right-radius: 12px;
    border-bottom-left-radius: 12px;
}

.rating {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center
}

.rating>input {
    display: none
}

.rating>label {
    position: relative;
    width: 1em;
    font-size: 30px;
    font-weight: 300;
    color: #FFD600;
    cursor: pointer
}

.rating>label::before {
    content: "\2605";
    position: absolute;
    opacity: 0
}

.rating>label:hover:before,
.rating>label:hover~label:before {
    opacity: 1 !important
}

.rating>input:checked~label:before {
    opacity: 1
}

.rating:hover>input:checked~label:before {
    opacity: 0.4
}

.rating-submit{
    border-radius: 15px;
    color: #fff;
    height: 49px;
}


.rating-submit:hover{
    color: #fff;
}