.profile {
    width: 50%!important;
    margin: 0 auto;
}

.settings {
    margin-top: 20px;
}

.basic-multi-select {
    color: black;
}

/*taken from https://react-popup.elazizi.com/react-modal */
.modal {
    font-size: 12px;
}
.header {
    width: 100%;
    border-bottom: 1px solid gray;
    font-size: 18px;
    text-align: center;
    padding: 5px;
}
.content {
    padding: 10px 5px;
    font-size: 12px;
    width: 0%;
    margin: 0 auto;
}
.actions {
    width: 100%;
    padding: 10px 5px;
    margin: auto;
    text-align: center;
    font-size: 12px;
}
.close {
    cursor: pointer;
    position: absolute;
    display: block;
    padding: 2px 5px;
    line-height: 20px;
    right: -10px;
    top: -10px;
    font-size: 24px;
    background: #ffffff;
    border-radius: 18px;
    border: 1px solid #cfcece;
}

.buttonMarginContainer{
    padding-left: 2px;
    padding-right: 2px;
}

#userSaveButton, #userSaveButton:hover {
    color: rgb(41, 118, 74)!important;
    border-color: rgb(41, 118, 74)!important;
    background-color: transparent;
}

#userCancelButton, #userCancelButton:hover {
    color: whitesmoke;
    border-color: red!important;
    background-color:red!important;
}