.jobOffer {
    margin: 0 auto;
    width: 40%!important;
}

.photo {
  object-fit:cover;
}

.image {
    object-fit:cover;
}

input[type="text"], textarea[type="text"] {
    background-color: white;
}